Adafruit-GPIO==1.0.1
Adafruit-PureIO==0.2.1
appdirs==1.4.0
enum-compat==0.0.2
eventlet==0.20.1
Flask==0.10.1
Flask-SocketIO==2.8.2
greenlet==0.4.12
gunicorn==18.0
itsdangerous==0.24
Jinja2==2.7.3
MarkupSafe==0.23
packaging==16.8
pyparsing==2.1.10
python-engineio==1.1.2
python-socketio==1.6.3
six==1.9.0
spidev==3.2
Werkzeug==0.10.4
